@model MVCproject.Models.tblproduct

@{
    ViewBag.Title = "Add Product Detail";
    string resp = "0";
}







<!-- Core plugin JavaScript-->
<script src="~/asset/vendor/jquery-easing/jquery.easing.min.js"></script>
<div class="card mb-4" style="width: 1002px;">
    <div class="card-header">
        Add Product Detail
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Add_Product_Detail", "Product_Details", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {
            @Html.AntiForgeryToken();

        <div class="form-horizontal">





            <div class="form-group">

                <input type="text" name="proname" id="proname" class="form-control form-control-user" onkeypress="return /[a-z\s 0-9]/i.test(event.key)" maxlength="50" placeholder="Name" />
            </div>
            <div class="form-group">

                <select class="form-control" id="pro_unit" name="pro_unit"></select>
            </div>

            <div class="form-group">
                <select class="form-control" id="pro_cat" name="pro_cat"></select>
            </div>

            <div class="form-group">
                <input type="text" name="unit_price" id="unit_price" class="form-control form-control-user" maxlength="50" placeholder="Price" />
            </div>
            <div class="form-group">
                <input type="text" name="discount_percentage" id="discount_percentage" class="form-control form-control-user" data-mask="00.00" maxlength="50" placeholder="Discount Percentage" />
            </div>
        </div>








            <div class="text-center">
                <input id="btnRang" value="Insert" class="btn btn-primary btn-user btn-block" onclick="BtnClick()" />



            </div>


        }






    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>

    $("#unit_price").inputmask({ "mask": "999.99" });

    $("#discount_percentage").inputmask({ "mask": "99.99" });


    @* script for Category view in drop down *@
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Product_Details/Pro_cat_view",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Category</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].CategoryName + '">' + data[i].CategoryName + '</option>';
                }
                $("#pro_cat").html(s);
            }
        });
    });

    @* script for Unit view in drop down *@
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Product_Details/Pro_Unit_view",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Unit</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].UnitName + '">' + data[i].UnitName + '</option>';
                }
                $("#pro_unit").html(s);
            }
        });
    });











    function BtnClick() {


        if (range())
        {
          
            ajfun();
            
          

        }


    }


    function ajfun() {

        var token = $('input[name="__RequestVerificationToken"]').val();



        var prepric = $("#unit_price").val();
        var tmpirce = prepric.replace(/_/g, 0);


        var predis = $("#discount_percentage").val();
        var tmdis = predis.replace(/_/g, 0);


        var product =
        {
            name: $("#proname").val(),
            unit_name: $("#pro_unit").val(),
            cat_name: $("#pro_cat").val(),
            price: tmpirce,
            dist_pre: tmdis
        }
        $.ajax({
            method: "POST",
            url: "/Product_Details/Add_Product_Detail",

            data: {
               __RequestVerificationToken: token,
                product_views: product

            },

            success: function (response) {
              
                alert(response.responseText);
                location.reload(true);
               
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert("Contact Developer Team");
            }
        })
    }



    function range()
    {
        var val_name = $("#proname").val();
        var val_unit = $("#pro_unit").val();
        var val_cat = $("#pro_cat").val();
        var val_price = $("#unit_price").val();
        var val_dis = $("#discount_percentage").val();

        var sl = val_name.length;
        if (sl<=4) {
            alert("Please Enter More than 4 digits Name");
            return false;
        }

        if (!val_name.match(/\S/)) {
            alert("Please Enter Product Name");
            return false;
        }
        if (val_unit =="-1") {
            alert("Please Select a Unit");
            return false;
        }
        if (val_cat == "-1") {
            alert("Please Select a Category");
            return false;
        }
        if (val_price < 1 || val_price > 1000) {
            alert("Price Wrong");
            return false;
        }
        if (val_dis < 1 || val_dis > 25) {
            alert("Discount Range Wrong");
            return false;

        }
       

        return true;

    }




       
    



</script>




