@model MVCproject.Models.tblproduct

@{
    ViewBag.Title = "Add Product Detail";
    string resp = "0";
}
<div class="card mb-4" style="width: 1002px;">
    <div class="card-header">
        Add Product Detail
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Add_Product_Detail", "Product_Details", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
        {
            @Html.AntiForgeryToken();
           
            <div class="form-horizontal">

     
             


                <div class="form-group">

                    <input type="text" name="proname" id="proname" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
                </div>
                <div class="form-group">

                    <select class="form-control" id="pro_unit" name="pro_unit"></select>
                </div>
            </div>
            <div class="form-group">
                <select class="form-control" id="pro_cat" name="pro_cat"></select>
            </div>

            <div class="form-group">
                <input type="text" name="unit_price" id="unit_price" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>
            <div class="form-group">
                <input type="text" name="discount_percentage" id="discount_percentage" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>






            <div class="text-center">
                <input type="submit" value="Insert" class="btn btn-primary btn-user btn-block" />

                <p class="alert-danger">@ViewBag.chk</p>

            </div>





        }



        <div class="text-center">
            <input id="btnPost" value="AJAX" class="btn btn-primary btn-user btn-block" />



        </div>


        <div class="text-center">
            <input id="myDiv" value="myDiv" class="btn btn-primary btn-user btn-block" />



        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@if (ViewBag.Message != null)
{

    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
                location.href = "Index";

            };


    </script>


}




<!-- Bootstrap core JavaScript-->
<script src="~/asset/vendor/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="~/asset/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/asset/vendor/jquery-easing/jquery.easing.min.js"></script>



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



<script>




    @* script for Category view in drop down *@
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Product_Details/Pro_cat_view",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Category</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].CategoryName + '">' + data[i].CategoryName + '</option>';
                }
                $("#pro_cat").html(s);
            }
        });
    });

    @* script for Unit view in drop down *@
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Product_Details/Pro_Unit_view",
            data: "{}",
            success: function (data) {
                var s = '<option value="-1">Please Select a Unit</option>';
                for (var i = 0; i < data.length; i++) {
                    s += '<option value="' + data[i].UnitName + '">' + data[i].UnitName + '</option>';
                }
                $("#pro_unit").html(s);
            }
        });
    });



    




    

    $("#btnPost").click(function () {
      

        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]').val();
        
         var product_name = $('#proname').val();
  
           $.ajax({ 
               method: "POST",
               url: "/Product_Details/Add_Product_Detail",
             
               data: {
                   __RequestVerificationToken: token,
                   product_name
                
               }, 

                success: function (response) {
                    if (response != null) {
                        alert("Add Product");
                    } else {
                        alert("Something went wrong");
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        
    });

    $('#myDiv').submit(function () {
        var form = $('#__AjaxAntiForgeryForm');
        var token = $('input[name="__RequestVerificationToken"]', form).val();
        var headers = {};

        headers['__RequestVerificationToken'] = token;
        $.ajax({
            url: $(this).data('url'),
            type: 'POST',
            headers: headers,
            data: {
                __RequestVerificationToken: token,
                someValue: 'some value'
            },
            success: function (response) {
                if (response != null) {
                    alert("Add Product");
                } else {
                    alert("Something went wrong");
                }
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
        return false;
    });


</script>




