
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<div class="card mb-4" style="width: 1002px;">
    <div class="card-header">
        Update Product Category
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">





            <div class="form-group">
                <label class="col-form-label">Name</label>
                <input type="text" name="prepronam" id="prepronam" class="form-control form-control-user"  disabled />
            </div>
            <div class="form-group">

                <input type="text" name="procated" id="procated" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>


            <div class="form-group">
                <label class="col-form-label">Product Unit</label>
                <input type="text" name="preprount" id="preprount" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">

                <input type="text" name="procated" id="procated" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>



            <div class="form-group">
                <label class="col-form-label">Product Category</label>
                <input type="text" name="preprocat" id="preprocat" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">

                <input type="text" name="procated" id="procated" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>


            <div class="form-group">
                <label class="col-form-label">Price</label>
                <input type="text" name="preproprc" id="preproprc" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">

                <input type="text" name="procated" id="procated" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>


            <div class="form-group">
                <label class="col-form-label">Discount Precentage</label>
                <input type="text" name="preprodp" id="preprodp" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">

                <input type="text" name="procated" id="procated" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" />
            </div>


            <div class="text-center">
                <input type="submit" value="Update" class="btn btn-primary btn-user btn-block" />

                @*<p class="alert-danger">@ViewBag.chk</p>*@

            </div>


        </div>
        }
    </div>
</div>
<script src="~/asset/vendor/jsvaraiable.js"></script>
<script>

    var url = window.location.href.replace(/\/$/, '');
    var lastSeg = url.substr(url.lastIndexOf('/') + 1);

    var id = lastSeg;


    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Product_Details/producted/"+id+"",
            data: {},
           
            success: function (data) {
                


                for (var i = 0; i < data.length; i++) {
                    $("#prepronam").val(data[i].product_name);
                }
            }

          
        });
    });




    
</script>