
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


<div class="card mb-4" style="width: 1002px;">
    <div class="card-header">
        Update Product 
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">


                <input type="hidden" id="prodptided" name="prodptided">


                <div class="form-group">
                    <label class="col-form-label">Name</label>
                    <input type="text" name="prodprename" id="prodprename" class="form-control form-control-user" disabled />
                </div>
                <div class="form-group">

                    <input type="text" name="prodptednameed" id="prodptednameed" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50"  autocomplete="off"/>
                </div>


                <div class="form-group">
                    <label class="col-form-label">Product Unit</label>
                    <input type="text" name="prodpreunt" id="prodpreunt" class="form-control form-control-user" value=" " disabled />
                </div>
                <div class="form-group">


                    <select class="form-control" id="prodptunted" name="prodptunted"></select>
                </div>



                <div class="form-group">
                    <label class="col-form-label">Product Category</label>
                    <input type="text" name="prodprecat" id="prodprecat" class="form-control form-control-user" value=" " disabled />
                </div>
                <div class="form-group">


                    <select class="form-control" id="prodptcated" name="prodptcated"></select>
                </div>


                <div class="form-group">
                    <label class="col-form-label">Price</label>
                    <input type="text" name="prodpreprc" id="prodpreprc" class="form-control form-control-user" value=" " disabled />
                </div>
                <div class="form-group">

                    <input type="text" name="prodptprced" id="prodptprced" maxlength="50" class="form-control form-control-user"   />
                </div>


                <div class="form-group">
                    <label class="col-form-label">Discount Precentage</label>
                    <input type="text" name="prodprepdis" id="prodprepdis" class="form-control form-control-user" value=" " disabled />
                </div>
                <div class="form-group">

                    <input type="text" name="prodptdised" id="prodptdised" maxlength="50" class="form-control form-control-user"  />
                </div>


                <div class="text-center">
                    <input  value="Update" class="btn btn-primary btn-user btn-block" onclick="BtnClick()" />

                 

                </div>


            </div>
        }
    </div>
</div>
<script src="~/asset/vendor/jsvaraiable.js"></script>
<script>

    
    $("#prodptprced").inputmask({ "mask": "999.99" });

    $("#prodptdised").inputmask({ "mask": "99.99" });

    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Product_Details/producted/",

            data: {},

            success: function (data) {



                for (var i = 0; i < data.length; i++) {
                    $("#prodptided").val(data[i].id);
                    $("#prodprename").val(data[i].product_name);
                    $("#prodpreunt").val(data[i].unit_name);
                    $("#prodprecat").val(data[i].category_name);
                    $("#prodpreprc").val(data[i].unit_price);
                    $("#prodprepdis").val(data[i].discount_percentage);

                }
            }


        });
    });

    @* script for Category view in drop down *@
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Product_Details/Pro_cat_view",
                data: "{}",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Category</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].CategoryName + '">' + data[i].CategoryName + '</option>';
                    }
                    $("#prodptcated").html(s);
                }
            });
        });

    @* script for Unit view in drop down *@
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/Product_Details/Pro_Unit_view",
                data: "{}",
                success: function (data) {
                    var s = '<option value="-1">Please Select a Unit</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].UnitName + '">' + data[i].UnitName + '</option>';
                    }
                    $("#prodptunted").html(s);
                }
            });
        });





    function range() {
        var val_name = $("#prodptednameed").val();
        var val_price = $("#prodptprced").val();
        var val_dis = $("#prodptdised").val();

        var sl = val_name.length;
        

        if (val_name != "") {
        if (sl <= 4) {
            alert("Please Enter More than 4 digits Name");
            return false;
      
        }

        if (!val_name.match(/\S/)) {
            alert("Please Enter Product Name");
            return false;
   
            }
           
        }
        //if (val_unit == "-1") {
        //    alert("Please Select a Unit");
        //    return false;
        //}
        //if (val_cat == "-1") {
        //    alert("Please Select a Category");
        //    return false;
        //}
        if (val_price !="") {
        if (val_price < 1 || val_price > 1000) {
            alert("Price Wrong");
            return false;
            }
            
        }

        if (val_dis != "") {
        if (val_dis < 1 || val_dis > 25) {
            alert("Discount Range Wrong");
           
            return false;
            }
           
        }

        return true;

    }


    function ajfun() {

        var token = $('input[name="__RequestVerificationToken"]').val();

        var edit = $("#prodptided").val();

        var prepric = $("#prodptprced").val();
        var tmpirce = prepric.replace(/_/g, 0);


        var predis = $("#prodptdised").val();
        var tmdis = predis.replace(/_/g, 0);
        var yz = "abc";
        var product =
        {
            name: $("#prodptednameed").val(),
            unit_name: $("#prodptunted").val(),
            cat_name: $("#prodptcated").val(),
            price: tmpirce,
            dist_pre: tmdis,
        }

        $.ajax({
            method: "POST",
            url: "/Product_Details/Edit",

            data: {
                __RequestVerificationToken: token,
                id: edit,
                product_views: product,
                abc:yz
            },

            success: function (response) {

                alert(response.responseText);
                location.reload(true);

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert("Contact Developer Team");
            }
        })
    }

    function BtnClick() {


        if (range()) {

            ajfun();
        }


    }


</script>