


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Products Table</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length" id="dataTable_length">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <table id="productTable" class="table table-striped table-bordered">


                            <thead>
                                <tr>
                                   
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Category</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Record</th>
                                    <th>Edit</th>

                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                   
                                    <th>Name</th>
                                    <th>Unit</th>
                                    <th>Category</th>
                                    <th>Stock</th>
                                    <th>Price</th>
                                    <th>Record</th>
                                    <th>Edit</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->



<script src="~/asset/vendor/jsvaraiable.js"></script>
<script>


    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        $('#productTable tfoot th').each(function () {
            var title = $(this).text();
            $(this).html('<input type="text" placeholder="Search ' + title + '" />');
        });

        // DataTable



    });

    $(document).ready(function () {
        
        $('#productTable').dataTable({
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'pdfHtml5',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                },
            ],
            processing: true,
            ordering: true,
            paging: true,
            searching: true,
            ajax: "/Product_Details/TableView",
            row: function (row, data) {
                if ($.inArray(data.DT_RowId, selected) !== -1) {
                    $(row).addClass('selected');
                }
            },
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            },
            success: function (row) {
                id = row.id;
               
            },
            columns: [
             
                { "data": "product_name"},
                { "data": "unit_name" },
                { "data": "category_name" },
                { "data": "unit_in_stock" },
                { "data": "unit_price" },
                { "data": "recorder_level" },
                /* EDIT */ {
                    mRender: function (data, type, row) {
                        
                        return '<a class="table-edit" data-id="' + row[0] + '" href="/Product_Details/Edit/' + row.id + '"><i class="fas fa-edit"></i></a>'
                    }
                }
            ]



        });
    });

 
   
  
  
</script>

