
@model MVCproject.Models.tbluser

@{
    ViewBag.Title = "Edit User";
}

<h2>User Edit</h2>


<div class="card mb-4" style="width: 1002px;">
    <div class="card-header">
        Please Fill Edit User Information
    </div>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">


            <input type="hidden" id="userid" name="userid">





            <div class="form-group">
                <label class="col-form-label">User's Name</label>
                <input type="text" name="username" id="username" class="form-control form-control-user"  value=" " disabled />
            </div>
            <div class="form-group">
                <input type="text" name="username_ed" id="username_ed" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Full Name</label>
                <input type="text" name="fullname" id="fullname" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">
                <input type="text" name="fullname_ed" id="fullname_ed" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Email Address</label>
                <input type="text" name="email" id="email" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">
                <input type="text" name="email_ed" id="email_ed" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" autocomplete="off" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Degisnation</label>
                <input type="text" name="degisnation" id="degisnation" class="form-control form-control-user" value=" " disabled />
            </div>
            <div class="form-group">
                <input type="text" name="degisnation_ed" id="degisnation_ed" class="form-control form-control-user" onkeypress="return /[a-z\s]/i.test(event.key)" maxlength="50" autocomplete="off" />
            </div>

            <div class="form-group">
                <label class="col-form-label">Role</label>
                <input type="text" name="currentrole" id="currentrole" class="form-control form-control-user" value=" " disabled  />
            </div>



            <div class="text-center">
                <input value="Update" class="btn btn-secondary btn-user btn-block" onclick="BtnClick()" />



            </div>


        </div>
            }
        </div>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script src="~/asset/vendor/jsvaraiable.js"></script>

<script>


    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Registration/EditUser_View/",

            data: {},

            success: function (data) {



                for (var i = 0; i < data.length; i++) {
                    $("#userid").val(data[i].id);
                    $("#username").val(data[i].user_name);
                    $("#fullname").val(data[i].fullname);
                    $("#email").val(data[i].email_id);
                    $("#degisnation").val(data[i].designation);
                    $("#currentrole").val(data[i].role);

                }
            }


        });
    });








    function ajfun() {

        var token = $('input[name="__RequestVerificationToken"]').val();



        var _id = $("#userid").val();


        var _Role = $("#assgrole").val();

        $.ajax({
            method: "POST",
            url: "/Registration/User_Edit",

            data: {
                __RequestVerificationToken: token,
                id: _id,
                Roles: _Role

            },

            success: function (response) {

                alert(response.responseText);
                location.reload(true);

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert("Contact Developer Team");
            }
        })
    }



    function BtnClick() {


        if (validation()) {

            ajfun();



        }


    }


    function validation() {
        var val_role = $("#assgrole").val();

        if (val_role == "-1") {
            alert("Please Select Role");
            return false;
        }

        return true;
    }
</script>